body
{
	background-image: url(http://www.pulsarmedia.eu/data/media/23/Sea_World_Wallpaper_By_Martz90_1920X1200.jpg);
	font-family: "Helvetica" ,Arial; 
	

}
#contenido
{
	width: 960px;
	margin:0 auto;
	text-align: center;
}
h1
{
	color: #e44e2d;

}
nav ul li
{
	display: inline-block;
	margin-right: 20px;
	color: #1d1d1d;
	cursor: pointer;
	padding: 5px;

	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all o.5s linear;
}
nav ul li:hover
{
	background-color: #1d1d1d;
	color: #e44e2d;
	border-radius: 5px;
}
nav ul li a
{
	
	text-decoration: none;
}
#textoPr
{
	width: 600px;
	height: 300px;
	background-color: #1d1d1d;
	color: #fff;
	margin:0 auto;
	text-align: left;
	border-radius: 20px;
	padding: 20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
a
{
	color: #e44e2d;
	font-weight: bold;
}
#miCanvas
{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
meter
{
	background-color: #FFF;
	padding: 5px;
	color: #e44e2d;
	margin-left: 20px;
	width: 200px;
}
#textoPr2
{
	width: 600px;
	height: 300px;
	background-color: #1d1d1d;
	color: #fff;
	margin:0 auto;
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#imagen
{
	width: 130px;
	height: 100px;
	text-align: left;


}